@media screen and (max-width: 375px) {
    .title {
        font-size: 1.5rem;
    }

    #form {
        width: 280px;
    }

    .inputs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.9rem;
        font-size: 1rem;
    }

    .botao {
        font-size: 0.8rem;
    }
    #rodape {
        font-size: 12px;
        position: relative;
    }
}

@media screen and (min-width:376px) and (max-width:600px) {
    .title {
        font-size: 1.6rem;
    }

    .inputs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .botao {
        font-size: 1rem;
    }

    #result {
        font-size: 3.5rem;
    }

    #rodape {
        font-size: 0.7rem;
    }
}